
<html>
<head>
	<meta http-equiv="refresh" content="{{.RefreshInterval}}">
	<link rel="stylesheet" href="/theme/{{.Theme}}/styles.css">
</head>
<body class="main-body page-all info">
	<div class="container">
		{{if and (gt .SystemIcon 0) (ne .CurrentConsole "")}}
			{{if .IconFile}}
				<img src="/systems/{{.IconFile}}" alt="{{.CurrentConsole}}" class="system-icon">
				{{if eq .SystemIcon 1}}
					<span class="system-text">{{.CurrentConsole}}</span> -
				{{else}}
					-
				{{end}}
			{{else}}
				<span class="system-text">{{.CurrentConsole}}</span> -
			{{end}}
		{{else}}
			<span class="system-text">{{.CurrentConsole}}</span>:
		{{end}}
		<span class="game-text">{{.CurrentGame}}</span>
	</div>
</body>
</html>
