<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>System - TrackGameName</title>
	<link rel="stylesheet" href="/theme/{{.Theme}}/styles.css">
</head>
<body class="main-body page-system info">
<div class="container">
	{{if .SystemIcon}}
	{{if .IconFile}}
	<img id="icon-system" src="/systems/{{.IconFile}}" alt="{{.CurrentConsole}} icon">
	{{end}}
	{{end}}
	<span class="system-text" id="system">{{.CurrentConsole}}</span>
</div>
<script>
	let lastSystem = "{{.CurrentConsole}}";
	let IconFile = "{{.IconFile}}";

	const socket = new WebSocket("ws://localhost:3489/startport");

	socket.onopen = () => {
		socket.send(JSON.stringify({ type: "register", screen: "system" }));
	};
	socket.onmessage = (event) => {
		const data = JSON.parse(event.data);
		if (data.type === "update" && data.screen === "system") {
			if (data.payload.console !== lastSystem) {
				document.getElementById('system').textContent = data.payload.console;
				lastSystem = data.payload.console;
			}
			if(IconFile !==data.payload.icon){ //Если иконка меняется
				if (data.payload.icon !== "") { //Если иконка не пустая
					IconFile = data.payload.icon;
					const imgSystem = document.querySelector('img#icon-system');
					if (imgSystem) { // проверяем, есть ли вывод картинки да - меняем картинку
						imgSystem.src =  '/systems/'+data.payload.icon;
					} else { // нет - создаем вывод и добавляем
						const img = document.createElement('img');
						img.src = '/systems/'+data.payload.icon;
						img.alt = data.payload.console;
						img.id = "icon-system";
						const spanSystem = document.getElementById('system');
						spanSystem.before(img);
					}
				}else{
					const imgSystem = document.querySelector('img#icon-system');
					if (imgSystem) {
						imgSystem.remove();
					}
				}
			}

		}
	};
</script>
</body>
</html>